html {
    font-size: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 2.1428;
    color: #7e7e7e;
    background: #272727;
    -webkit-overflow-scrolling: touch;
}

/*-------------------------------------------------------------------------------
  Base styles
-------------------------------------------------------------------------------*/

.text-dark {
    color: #fff;
}

.text-muted {
    color: #999;
}

.text-white {
    color: #fff;
}

.text-primary {
    color: #f3ca2f;
}

.masked {
    position: relative;
}

.masked:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.rel-1 {
    position: relative;
    z-index: 1;
}

.overflow-hidden {
    overflow: hidden;
}

/*-------------------------------------------------------------------------------
    Navbar
-------------------------------------------------------------------------------*/

.navbar {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 2.7rem;
    height: 7rem;
    background-color: #272727;
    margin: 0;
    border-radius: 0;
}

.navbar .brand {
    float: left;
    margin-top: -0.5rem;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.brand {
    line-height: 1.6;
    color: #fff;
    display: inline-block;
}

a.brand:hover,
a.brand:focus {
    text-decoration: none;
    color: #fff;
}

.brand img {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.65rem;
    height: 2.356rem;
}

.brand-info {
    display: inline-block;
}

.brand-name {
    font-weight: 600;
    font-size: 1.714rem;
    line-height: 1;
}

.brand-text {
    color: #7e7e7e;
    font-size: 0.857rem;
    font-weight: 300;
    margin-top: -0.3rem;
}

.navbar-spacer {
    float: right;
    margin: -1rem 4.5rem 0;
    width: 1px;
    height: 3.3rem;
    background-color: #3c3c3c;
}

.navbar-address {
    float: right;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-2 {
    background: transparent;
    padding-top: 3rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

.navbar-2 .brand {
    width: 18rem;
}

.navbar-2 .brand-text {
    color: #fff;
}

.navbar-2 .navbar-address {
    float: left;
    margin-left: 5rem;
}

.navbar-white {
    background: transparent;
}

.navbar-white .brand,
.navbar-white .brand:hover,
.navbar-white .brand:focus,
.navbar-white .brand-text,
.navbar-white .navbar-address,
.navbar-white .navbar-address .text-dark {
    color: #fff;
}

.navbar-white .icon-bar {
    background: #fff;
}

.copy-bottom {
    display: none;
    z-index: 10;
    left: 0;
    bottom: 2.4rem;
    color: #000;
}

.copy-bottom.white {
    color: #fff;
}

#pp-nav {
    z-index: 99;
    width: 2.1428rem;
    margin-top: 0 !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#pp-nav .pp-nav-up,
#pp-nav .pp-nav-down {
    display: none;
    font-size: 2.1428rem;
    cursor: pointer;
    color: #000;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#pp-nav .pp-nav-up {
    margin-bottom: 3.5rem;
}

#pp-nav .pp-nav-down {
    margin-top: 3.5rem;
}

#pp-nav li,
.pp-slidesNav li {
    margin: 1.928rem auto;
    width: 10px;
    height: 10px;
}

#pp-nav span,
.pp-slidesNav span {
    left: 0;
    top: 0;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #000;
    border: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#pp-nav .pp-nav-up:hover,
#pp-nav .pp-nav-down:hover,
#pp-nav.white .pp-nav-up:hover,
#pp-nav.white .pp-nav-down:hover {
    color: #f3ca2f;
}

#pp-nav.white .pp-nav-up,
#pp-nav.white .pp-nav-down {
    color: #fff;
}

#pp-nav.white span,
.pp-slidesNav span {
    background: #fff;
}

#pp-nav li .active span,
.pp-slidesNav .active span,
#pp-nav span:hover,
.pp-slidesNav span:hover {
    background: #f3ca2f;
}

/*-------------------------------------------------------------------------------
    List styles
-------------------------------------------------------------------------------*/

ul {
    margin: 1rem 0;
    list-style: none;
    padding: 14px 0;
    background-color: rgb(36, 36, 36);
    color: #fff;
    border-radius: 8px;
}

li {
    padding: 2rem;
}

section {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
    padding: 8rem 2rem 6.25rem 2rem;
}

img {
    padding-bottom: 10px;
    display: block;
    max-width: 100%;
    height: 350px;
    object-fit: cover;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1.25rem;
}

a {
    color: #fff;
}

a:hover,
a:focus {
    color: rgb(133, 132, 132)
}

/*-------------------------------------------------------------------------------
    Footer
-------------------------------------------------------------------------------*/
.footer {
    color: #fff;
    line-height: 1.71;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li a {
    color: #fff;
}

.footer ul .active a,
.footer ul li a:hover {
    color: #f3ca2f;
    text-decoration: none;
}

.footer-flex {
    margin-top: -4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-flex .flex-item {
    margin-top: 4rem;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

/*-------------------------------------------------------------------------------
    Responsive styles
-------------------------------------------------------------------------------*/

@media (min-width: 768px) {

    html {
        font-size: 13px;
    }



    .boxed {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .boxed-inner {
        padding-left: 0;
    }

    .right-boxed {
        right: 3rem;
    }

    .left-boxed {
        left: 3rem;
    }

    .section-about {
        padding-top: 12rem;
    }

    .section-projects .filter {
        margin-right: 14rem;
    }

    .section-projects .view-projects {
        position: absolute;
        top: 0;
        right: 0;
    }

    .sly ul li {
        width: 555px;
    }


    .project-box {
        padding-bottom: 75%;
    }

    .row-contact-info {
        margin-top: -2rem;
    }

    .col-contact-info {
        padding-top: 4rem;
        margin-top: 2rem;
    }

    .footer-flex .flex-item {
        -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
    }
}

@media (min-width: 870px) {
    section {
        display: flex;
        flex-wrap: wrap;
        margin-left: 110px;
    }

    ul {
        max-width: 40%;
        height: auto;
        margin: 0;
    }
}

@media (min-width: 992px) {

    html {
        font-size: 14px;
    }

    .boxed {
        padding-left: 4.2857rem;
        padding-right: 4.2857rem;
    }

    .right-boxed {
        right: 4.2857rem;
    }

    .left-boxed {
        left: 4.2857rem;
    }

    .boxed-inner .boxed {
        padding-left: 6rem;
    }

    .service-list {
        margin-bottom: 0;
    }

    .col-contact-info {
        border-top: 0;
        padding-top: 0;
    }

    .row-contact-info {
        margin-top: -5rem;
    }

    .col-contact-info {
        margin-top: 5rem;
    }

    .page-header {
        margin: 12.8rem 0 10.8rem;
    }

    .page-header-2 {
        margin: 8.7rem 0 10.5rem;
    }

    .page-header-3 {
        margin: 9.2rem 0 12.2rem;
    }

    .page-header-3 .title-hr {
        margin: 0.9rem 0 0;
    }

    .about-info .section-info .title-hr {
        margin-top: 1rem;
    }

    .secondary {
        padding: 0.5rem 0 0 6rem;
        margin-top: 0;
    }

    .post-thumbnail {
        padding-left: 0;
        padding-right: 0;
    }

    .about-info {
        padding-top: 1.2rem;
    }

    .map {
        height: 36rem;
    }

    .col-contact-info:nth-child(2n) {
        border-left: 1px solid #3c3c3c;
    }

}

@media (min-width: 1200px) {

    .section-projects .filter-content {
        margin-top: 0;
    }

    .section-3 .link-arrow.h5 {
        float: right;
        margin-top: -1.3rem;
    }

    .section-5 .title-uppercase {
        margin-top: 22vh;
        margin-bottom: 0;
    }

    .sly ul li {
        width: 685px;
    }

    .section-5 .vertical-centred {
        padding-top: 17rem;
        padding-bottom: 8rem;
    }

    .col-contact-info {
        border-left: 1px solid #3c3c3c;
    }

    .footer-flex .flex-item {
        -webkit-box-flex: none;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
}


@media (min-height: 500px) {

    #pp-nav .pp-nav-up,
    #pp-nav .pp-nav-down {
        display: block;
    }
}



@media (min-height: 700px) {

    .copy-bottom {
        display: block;
    }

    .lang-bottom {
        display: block;
    }

}