@import url('bootstrap.css');
@import url('jquery.pagepiling.css');
@import url('carousel.css');

html {
  font-size: 12px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 2.1428;
  color: #7e7e7e;
  background: #272727;
  -webkit-overflow-scrolling: touch;
}


/*-------------------------------------------------------------------------------
  Typography
-------------------------------------------------------------------------------*/

h1,
.h1 {
  font-weight: 700;
  font-size: 3.428rem;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.025em;
  margin: 0.5em 0;
}

h2,
.h2 {
  font-weight: 600;
  font-size: 2.571rem;
  line-height: 1.166;
  color: #fff;
  letter-spacing: 0;
  margin: 2.6rem 0;
}

h3,
.h3 {
  font-weight: 600;
  font-size: 2.142rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: #fff;
  margin: 2.6rem 0;
}

h4,
.h4 {
  font-weight: 600;
  font-size: 1.714rem;
  line-height: 1.25;
  letter-spacing: 0.025em;
  color: #fff;
  margin: 2.6rem 0;
}

h5,
.h5 {
  font-weight: 600;
  font-size: 1.571rem;
  line-height: 1.1;
  letter-spacing: 0;
  color: #fff;
  margin: 2.6rem 0;
}

h6,
.h6 {
  font-weight: 600;
  font-size: 1.285rem;
  line-height: 1.3333;
  letter-spacing: 0;
  color: #fff;
  margin: 2.6rem 0;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
  color: inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h6 a:hover,
.h6 a:hover {
  text-decoration: none;
}


strong {
  font-weight: 600;
}

p,
blockquote {
  margin-bottom: 2.6rem;
}

blockquote {
  font-family: 'Playfair Display', serif;
  font-size: 1.714rem;
  letter-spacing: 0.025em;
  line-height: 1.5;
  padding: 0;
  width: 80%;
  padding-left: 6.8rem;
  border-left: 0.3rem solid #f3ca2f;
  margin-top: 5rem;
  color: #fff;
}

cite {
  display: block;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0;
  font-style: normal;
}

.blockquote-cite {
  font-size: 1rem;
  color: #999999;
  letter-spacing: 0.05em;
  padding-left: 7.1rem;
  margin-bottom: 5rem;
}

.blockquote-cite cite {
  font-size: 1.14rem
}

a {
  color: #f3ca2f;
  -webkit-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

a:hover,
a:focus {
  color: #f3ca2f;
  outline: none;
}


a:focus {
  text-decoration: none;
}


/*-------------------------------------------------------------------------------
  Forms
-------------------------------------------------------------------------------*/

input[type='text'],
input[type='address'],
input[type='url'],
input[type='password'],
input[type='email'],
input[type="search"],
input[type="tel"],
textarea {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.75em;
  color: #fff;
  background-color: #333;
  border: 0;
  border-radius: 0;
  padding: 0.2rem 1rem 0;
  height: 3.6em;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

textarea {
  padding-top: 0.8rem;
  height: 15rem;
  resize: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

input[type='text']:focus,
input[type='address']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #f3ca2f;
  outline: 0;
  color: #fff;
}

input.input-gray,
textarea.input-gray {
  background: #f6f6f6;
}


input.input-gray:focus,
textarea.input-gray:focus {
  background: #fff;
}

input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #999;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

.form-group {
  margin-bottom: 30px;
}

input.error {
  border-color: #f3ca2f;
}

.mc-label,
label.error {
  font-size: 0.83em;
  font-weight: 400;
  margin: 0.7em 0 0 0;
}

/*-------------------------------------------------------------------------------
  Button
-------------------------------------------------------------------------------*/

.btn {
  color: #fff;
  letter-spacing: 0.025em;
  font-size: 1rem;
  display: inline-block;
  border: 0;
  border-radius: 0;
  padding: 1.1em 2.28em 1em;
  background-color: #000;
  text-decoration: none;
  -webkit-transition: all .3s ease-out !important;
  transition: all .3s ease-out !important;
}

.btn:hover,
.btn:focus {
  background-color: #f3ca2f;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
}

.btn-upper {
  font-weight: 600;
  text-transform: uppercase;
}


.btn-yellow {
  background: #f3ca2f;
  color: #000;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background: #000;
}

/*-------------------------------------------------------------------------------
  Base styles
-------------------------------------------------------------------------------*/

.text-dark {
  color: #fff;
}

.text-muted {
  color: #999;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: #f3ca2f;
}

.masked {
  position: relative;
}

.masked:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.1;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.rel-1 {
  position: relative;
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}


/*-------------------------------------------------------------------------------
  Navbar
-------------------------------------------------------------------------------*/

.navbar {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 2.7rem;
  height: 7rem;
  background-color: #272727;
  margin: 0;
  border-radius: 0;
}

.navbar .brand {
  float: left;
  margin-top: -0.5rem;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.brand {
  line-height: 1.6;
  color: #fff;
  display: inline-block;
}

a.brand:hover,
a.brand:focus {
  text-decoration: none;
  color: #fff;
}

.brand img {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.65rem;
  height: 2.356rem;
}

.brand-info {
  display: inline-block;
}

.brand-name {
  font-weight: 600;
  font-size: 1.714rem;
  line-height: 1;
}

.brand-text {
  color: #7e7e7e;
  font-size: 0.857rem;
  font-weight: 300;
  margin-top: -0.3rem;
}

.navbar .social-list {
  float: right;
  margin-right: 10%;
}

.social-list {
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.social-list a {
  float: left;
  font-size: 1.428rem;
  line-height: 1;
  color: #fff;
  margin-left: 2rem;
}

.social-list a:first-child {
  margin-left: 0;
}

.social-list a:hover {
  color: #f3ca2f;
  text-decoration: none;
}

.navbar-spacer {
  float: right;
  margin: -1rem 4.5rem 0;
  width: 1px;
  height: 3.3rem;
  background-color: #3c3c3c;
}

.navbar-address {
  float: right;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-2 {
  background: transparent;
  padding-top: 3rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}

.navbar-2 .brand {
  width: 18rem;
}


.navbar-2 .brand-text {
  color: #fff;
}

.navbar-2 .navbar-address {
  float: left;
  margin-left: 5rem;
}

.navbar-2 .social-list {
  float: left;
  margin-left: 7.5rem;
}

.navbar-white {
  background: transparent;
}

.navbar-white .brand,
.navbar-white .brand:hover,
.navbar-white .brand:focus,
.navbar-white .brand-text,
.navbar-white .navbar-address,
.navbar-white .navbar-address .text-dark,
.navbar-white .social-list a {
  color: #fff;
}

.navbar-white .icon-bar {
  background: #fff;
}

.navbar-white .social-list a:hover {
  color: #f3ca2f;
}

.copy-bottom {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 2.4rem;
  color: #000;
}

.lang-bottom {
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 2.4rem;
  color: #000;
}

.copy-bottom.white {
  color: #fff;
}

#pp-nav {
  z-index: 99;
  width: 2.1428rem;
  margin-top: 0 !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#pp-nav .pp-nav-up,
#pp-nav .pp-nav-down {
  display: none;
  font-size: 2.1428rem;
  cursor: pointer;
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#pp-nav .pp-nav-up {
  margin-bottom: 3.5rem;
}

#pp-nav .pp-nav-down {
  margin-top: 3.5rem;
}

#pp-nav li,
.pp-slidesNav li {
  margin: 1.928rem auto;
  width: 10px;
  height: 10px;
}

#pp-nav span,
.pp-slidesNav span {
  left: 0;
  top: 0;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: #000;
  border: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#pp-nav .pp-nav-up:hover,
#pp-nav .pp-nav-down:hover,
#pp-nav.white .pp-nav-up:hover,
#pp-nav.white .pp-nav-down:hover {
  color: #f3ca2f;
}

#pp-nav.white .pp-nav-up,
#pp-nav.white .pp-nav-down {
  color: #fff;
}

#pp-nav.white span,
.pp-slidesNav span {
  background: #fff;
}

#pp-nav li .active span,
.pp-slidesNav .active span,
#pp-nav span:hover,
.pp-slidesNav span:hover {
  background: #f3ca2f;
}

/*-------------------------------------------------------------------------------
  Homepage
-------------------------------------------------------------------------------*/

.wrapper {
  padding-top: 7rem;
  overflow-x: hidden;
}

.boxed {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

.boxed .container,
.boxed .container-fluid {
  padding: 0;
  max-width: 100%;
}

.left-boxed {
  left: 1.7rem;
}

.right-boxed {
  right: 1.7rem;
}

.section {
  padding: 10.28rem 0;
}

.section-title {
  margin: 0;
}

.section-title .link-arrow-2 {
  margin-top: 1.05rem;
}

.section-subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 1.142rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #f3ca2f;
  margin-bottom: 1rem;
}

/*-------------------------------------------------------------------------------
  Sections
-------------------------------------------------------------------------------*/
.pagepiling .section {
  background: #272727;
  padding-top: 11.3rem;
  padding-bottom: 7rem;
}

.pagepiling .section-1.pp-scrollable .vertical-centred {
  padding-top: 10rem;
  padding-bottom: 11rem;
}

.pagepiling .pp-scrollable {
  padding: 0;
}

.pp-scrollable .vertical-centred {
  padding-top: 11.3rem;
  padding-bottom: 7rem;
}

.scroll-wrap {
  position: relative;
  min-height: 100%;
}

.scrollable-content {
  white-space: nowrap;
  width: 100%;
  font-size: 0;
}

.scrollable-content:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}

.vertical-centred {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  font-size: 1rem;
}

.boxed-inner {
  position: relative;
  padding: 0;
}

.section-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.vertical-title {
  position: absolute;
  white-space: nowrap;
  width: 0;
  top: -0.55rem;
  left: 4.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.vertical-title span {
  display: block;
  float: right;
}

.section .intro {
  opacity: 0;
  -webkit-transition: opacity 1s 0.3s ease;
  -o-transition: opacity 1s 0.3s ease;
  transition: opacity 1s 0.3s ease;
}

.section .intro {
  -webkit-transform: translateY(7rem);
  -ms-transform: translateY(7rem);
  -o-transform: translateY(7rem);
  transform: translateY(7rem);
  -webkit-transition: all 0.35s 0.6s ease;
  -o-transition: all 0.35s 0.6s ease;
  transition: all 0.35s 0.6s ease;
}

.section.active .intro {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.subtitle-top {
  line-height: 1.714;
  margin-bottom: 2.8rem;
  letter-spacing: 0.1em;
}


/*-------------------------------------------------------------------------------
  Talents
-------------------------------------------------------------------------------*/

.hr-bottom {
  position: absolute;
  margin-top: 13vh;
  margin-bottom: 0;
  height: 0.2858rem;
  width: 7.142rem;
  background: #f3ca2f;
}

.title-uppercase {
  text-transform: uppercase;
  letter-spacing: -0.025em;
  line-height: 1.33333;
  margin: 0 0 5rem;
}

.service-list {
  margin-bottom: 5rem;
  font-size: 1.2857rem;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: -0.025rem;
  font-weight: 300;
}

.service-list li {
  margin-bottom: 0.7rem;
}

.service-list li:hover {
  color: #fff;
  text-decoration: none;
}

.img-responsive {
  width: 400px;
}

.experience-info {
  position: absolute;
  left: 6%;
  margin-top: -4.4rem;
  top: 100%;
  color: #fff;
}

.experience-info .number {
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  font-size: 10.71rem;
  margin-right: 1.7rem;
}

.experience-info .text {
  display: inline-block;
  font-size: 1.571rem;
  font-weight: 600;
  line-height: 1.181;
  text-transform: uppercase;
}

#fun {
  margin-top: 80px;
  margin-left: -10px;
}

/*-------------------------------------------------------------------------------
  Projects
-------------------------------------------------------------------------------*/
.bg-changer .section-bg:first-child {
  opacity: 1;
}

.section-3 .vertical-title {
  top: 7.4rem;
}

.row-project-box {
  margin-top: -30px;
}

.col-project-box {
  margin-top: 30px;
}

.project-box {
  display: block;
  padding-bottom: 30%;
  position: relative;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-box-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2.14rem 1.928rem;
}

.project-box h5 {
  margin: 0;
  color: #fff;
}

.project-category {
  color: #cccccc;
  margin-top: 0.5rem;
}

.project-box:hover {
  background: #f3ca2f;
  text-decoration: none;
  border-color: transparent;
}

.project-box:hover h5 {
  color: #000;
}

.project-box:hover .project-category {
  color: #666666;
}


/*-------------------------------------------------------------------------------
  Recommendation
-------------------------------------------------------------------------------*/

.icon-quote {
  display: inline-block;
  margin-top: -0.6rem;
  color: #f3ca2f;
  font-size: 5.14rem;
  margin-bottom: 10rem;
}

.section-5 .title-uppercase {
  margin-top: 7vh;
  margin-bottom: 3rem;
}

.review-carousel .text {
  font-size: 1.142rem;
  line-height: 1.875;
}

.review-author {
  margin-top: 5.7rem;
}

.author-name {
  font-size: 1.2857rem;
  line-height: 1.333;
  font-weight: 600;
}

.review-carousel .owl-nav {
  position: relative;
  top: 0;
  margin-top: 7.7vh;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.review-carousel .owl-prev,
.review-carousel .owl-next {
  font-size: 1.2857rem;
  width: 3.57rem;
  height: 3.57rem;
  line-height: 3.57rem;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  margin-right: 0.857rem;
}

.review-carousel .owl-prev:before {
  background-image: url(../images/leftArrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.review-carousel .owl-next:before {
  background-image: url(../images/leftArrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.review-carousel .owl-prev:hover,
.review-carousel .owl-next:hover {
  background: #fff;
  color: #000;
}

.review-carousel .owl-prev.disabled,
.review-carousel .owl-next.disabled {
  cursor: default;
}

.review-carousel .owl-prev.disabled:hover,
.review-carousel .owl-next.disabled:hover {
  background: none;
  color: #fff;
}

/*-------------------------------------------------------------------------------
  Contact
-------------------------------------------------------------------------------*/
.map-2 {
  width: 100%;
  height: 18rem;
  border: 0;
  text-align: center;
}

.contact-info {
  overflow: hidden;
  margin-top: 5.5rem;
}

.row-contact-info {
  margin: -5rem -4% 0;
}

.success-message,
.error-message {
  display: none;
  margin-top: 2rem;
}

.col-contact-info {
  padding: 0 4%;
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: 1px solid #3c3c3c;
}

.col-contact-info:first-child {
  border-top: 0;
  padding-top: 0;
}

.contact-info h3 {
  font-size: 1.92rem;
  line-height: 1.06;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  margin: 0 0 2rem 0;
}

.contact-info .col-right {
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
}

.contact-info-row {
  line-height: 1.5;
  margin-bottom: 2.14rem;
}

.contact-info-row:last-child {
  margin-bottom: 0;
}

.contact-info-row strong {
  font-size: 1.1428rem;
  text-transform: uppercase;
}

/*-------------------------------------------------------------------------------
  Pages
-------------------------------------------------------------------------------*/

.display-1 {
  font-size: 4.28rem;
  line-height: 1;
  letter-spacing: -0.05em;
  margin: 0;
}

.display-2 {
  font-size: 5.14rem;
  line-height: 1;
  letter-spacing: -0.05em;
  margin: 0;
  text-transform: uppercase;
}

.text-display-1 {
  font-size: 1.714rem;
  line-height: 2;
  letter-spacing: 0;
}

.text-display-1 p {
  margin-bottom: 3.5rem;
}

.text-display-1 p:last-child {
  margin-bottom: 0;
}

.title-hr {
  width: 7rem;
  max-width: 100%;
  height: 0.28rem;
  background: #f3ca2f;
}

.title-info {
  font-size: 1.28rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.page-header,
.page-header-2,
.page-header-3 {
  border-bottom: 0;
  margin: 8rem 0 7rem;
  padding: 0;
}

.page-header h1,
.page-header-2 h1,
.page-header-3 h1 {
  margin: 0;
}

.page-header-3 .title-hr {
  margin-bottom: 2.7rem;
}

.page-inner {
  margin-top: 10.28rem;
}

.section-info {
  color: #999999;
  line-height: 1.111;
  font-size: 1.28rem;
  text-transform: uppercase;
  font-weight: 600;
}

.section-info {
  margin-bottom: 4rem;
}

.section-info .title-hr {
  margin: 0 0 2rem;
}

.info-title {
  width: 1px;
}

.bg-dots {
  background: url(../images/bg/dots2.png) 0 0 repeat;
}

/*-------------------------------------------------------------------------------
  Footer
-------------------------------------------------------------------------------*/
.footer {
  color: #fff;
  line-height: 1.71;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li a {
  color: #fff;
}

.footer ul .active a,
.footer ul li a:hover {
  color: #f3ca2f;
  text-decoration: none;
}

.footer-flex {
  margin-top: -4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-flex .flex-item {
  margin-top: 4rem;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}


/*-------------------------------------------------------------------------------
  Responsive styles
-------------------------------------------------------------------------------*/

@media (min-width: 768px) {

  html {
    font-size: 13px;
  }

  .boxed {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .boxed-inner {
    padding-left: 0;
  }

  .right-boxed {
    right: 3rem;
  }

  .left-boxed {
    left: 3rem;
  }

  .section-about {
    padding-top: 12rem;
  }

  .section-projects .filter {
    margin-right: 14rem;
  }

  .section-projects .view-projects {
    position: absolute;
    top: 0;
    right: 0;
  }

  .sly ul li {
    width: 555px;
  }


  .project-box {
    padding-bottom: 75%;
  }

  .row-contact-info {
    margin-top: -2rem;
  }

  .col-contact-info {
    padding-top: 4rem;
    margin-top: 2rem;
  }

  .footer-flex .flex-item {
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
  }
}

@media (min-width: 992px) {

  html {
    font-size: 14px;
  }

  .boxed {
    padding-left: 4.2857rem;
    padding-right: 4.2857rem;
  }

  .right-boxed {
    right: 4.2857rem;
  }

  .left-boxed {
    left: 4.2857rem;
  }

  .boxed-inner .boxed {
    padding-left: 6rem;
  }

  .service-list {
    margin-bottom: 0;
  }

  .col-contact-info {
    border-top: 0;
    padding-top: 0;
  }

  .row-contact-info {
    margin-top: -5rem;
  }

  .col-contact-info {
    margin-top: 5rem;
  }

  .page-header {
    margin: 12.8rem 0 10.8rem;
  }

  .page-header-2 {
    margin: 8.7rem 0 10.5rem;
  }

  .page-header-3 {
    margin: 9.2rem 0 12.2rem;
  }

  .page-header-3 .title-hr {
    margin: 0.9rem 0 0;
  }

  .about-info .section-info .title-hr {
    margin-top: 1rem;
  }

  .secondary {
    padding: 0.5rem 0 0 6rem;
    margin-top: 0;
  }

  .post-thumbnail {
    padding-left: 0;
    padding-right: 0;
  }

  .about-info {
    padding-top: 1.2rem;
  }

  .map {
    height: 36rem;
  }

  .col-contact-info:nth-child(2n) {
    border-left: 1px solid #3c3c3c;
  }

}

@media (min-width: 1200px) {

  .section-projects .filter-content {
    margin-top: 0;
  }

  .section-3 .link-arrow.h5 {
    float: right;
    margin-top: -1.3rem;
  }

  .section-5 .title-uppercase {
    margin-top: 22vh;
    margin-bottom: 0;
  }

  .sly ul li {
    width: 685px;
  }

  .section-5 .vertical-centred {
    padding-top: 17rem;
    padding-bottom: 8rem;
  }

  .col-contact-info {
    border-left: 1px solid #3c3c3c;
  }

  .footer-flex .flex-item {
    -webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
  }
}


@media (min-height: 500px) {

  #pp-nav .pp-nav-up,
  #pp-nav .pp-nav-down {
    display: block;
  }
}



@media (min-height: 700px) {

  .copy-bottom {
    display: block;
  }

  .lang-bottom {
    display: block;
  }

}


/*-------------------------------------------------------------------------------
  Icons
-------------------------------------------------------------------------------*/

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.programs li {
  list-style: none;
  flex-direction: row;
  width: 120px;
  font-size: 45px;
  text-align: center;
}

.programs i {
  color: #f3ca2f;
}

.programs p {
  font-size: 15px;
}


.fa-wifi {
  transform: rotate(220deg);
}